<div class="mx-auto mt-5" style="width: 300px;">
  <h2>ログイン</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <div class="actions mt-4">
      <%= f.submit "Login" %>
    </div>
    
    <button type="button" class="mt-4">
      <%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post, :style=>"color:#000000;" %>
    </button>
  <% end %>
  <div class="mt-4">
    <%= render "devise/shared/links" %>
  </div>
</div>